## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [ ]:
7**4

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [ ]:
s="Hi there Sam"
s.split()

['Hi', 'there', 'Sam']

In [ ]:
s="Hi there dad"
s.split()

['Hi', 'there', 'dad']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [ ]:
planet="Earth"
diameter=12742
print("The diameter of {} is {} kilometers.".format(planet,diameter))

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
lst[3][1][2][0]

'hello'

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [ ]:
#Mutability: One of the main difference between a tuple and a list is that 
List is mutable, whereas a Tuple is immutable.

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [ ]:
def domainGet(email):
  return email.split('@')[-1]
  domainGet('user@domain.com')

In [ ]:
domainGet('user@domain.com')

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [ ]:
def findDog(st):
  return 'dog' in st.lower().split()

In [ ]:
findDog('Is there a dog here?')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [ ]:
def countDog(st):
  count = 0
  for word in st.lower().split():
    if word == 'dog':
     count += 1
     return count

In [ ]:
countDog('This dog runs faster than the other dog dude!')

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [ ]:
caught_speeding(81,False)

'Big Ticket'

In [ ]:
caught_speeding(81,True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [ ]:
emp_list=['yuva,100,200,300,400,500','ajay,200,300,400,500,100','akhil,300,400,500,100,200',
'priya,400,500,100,200,300','deepa,500,100,200,300,400']

#retrieve values using for loop
for index in range(len(emp_list)):
  value=emp_list[index]
  print(index,value)

0 yuva,100,200,300,400,500
1 ajay,200,300,400,500,100
2 akhil,300,400,500,100,200
3 priya,400,500,100,200,300
4 deepa,500,100,200,300,400

In [ ]:
#calculate total salary expenditure
a=[]
n=input()
for i in emp_list:
  c=i.split()
  if c[0]==n:
    a.append(c[1:6])
    c.sort(key=lambda x:x)
    del c[-1]
    c=list(map(int,c))
    print(n+'total salary expenditure'+str(sum))

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [ ]:
emp_1={'empid':1,'empname':'priya','basicpay':500000}
emp_2={'deptname':'HR','deptid':88}

In [ ]:
#combine two dictionaries
print({**emp_1,**emp_2})

{'empid': 1, 'empname': 'priya', 'basicpay': 500000, 'deptname': 'HR', 'deptid': 88}